<div ng-controller="CustomController">
    <br /> <br /><br /><br />
    <div style="padding-left:1%;padding-top:1%;background-color:azure;width:100%;display:list-item;">

        <div style="position: relative;padding-left:1%;margin-left:1%;margin-top:1%;background-color:#eeeeee;width:20%;height:70%;display: inline-block; " *ngFor="let helpdesk of helpDeskList">
            <input style="position: absolute;top:0;right:0;" type="image" src="Content/image/show/add.png" height="42" width="42" (click)="addNewHelpDesk($index+1)" *ngIf="$last" />
            <span>HelpDeskUserId _ {{helpdesk._id}}</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserId" ng-readonly="true" />
            <br /><br />

            <span>HelpDeskUserPass</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserPass" />
            <br /><br />

            <span>HelpDeskUserRealName</span>  <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserRealName" />
            <br /><br />

            <span>HelpDeskUserRole</span>  <br />
            <br />
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserRole.Create" [disabled]="$first" /> Create
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserRole.Edit" [disabled]="$first" /> Edit
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserRole.Delete" [disabled]="$first" /> Delete
            <br /><br />

            <span>HelpDeskUserStatusOnline</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserStatusOnline" [disabled]="true" style="background-color:{{helpdesk.HelpDeskUserStatusOnline | colorStatusOnline }}" />
            <br /><br />

            <span>HelpDeskUserLineName</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserLineName" [disabled]="true" />
            <br /><br />

            <span>HelpDeskUserLineId</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserLineId" [disabled]="true" />
            <br /><br />

            <span>HelpDeskUserLineAuth</span> <br />
            <input type="text" [(ngModel)]="helpdesk.HelpDeskUserLineAuth" ng-readonly="true" />
            <input type="button" value="new gen" (click)="newGenAuth($index)" />
            <br /><br />

            <span>HelpDeskUserLineLang</span> <br />
            <br />
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserLineLang.EN" /> EN
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserLineLang.TH" /> TH
            <input type="checkbox" [(ngModel)]="helpdesk.HelpDeskUserLineLang.JP" /> JP
            <br /><br />


        </div>

        <input type="image" src="Content/image/show/delete.png" height="42" width="42" (click)="deleteHelpDesk()" />


    </div>


</div>
