AssistantLine/AssistantLine/Properties/PublishProfiles/Default Settings.pubxml
AssistantLine/AssistantLine/obj/**
AssistantLine/AssistantLine/app/**/**/*.js
AssistantLine/AssistantLine/app/**/**/*.map
AssistantLine/AssistantLine/obj/**
sh.exe.stackdump
AssistantLine/AssistantLine/connection.xml
