<div>

    <div style="padding-left:50px;">
        <br /><br /><br />
        <br />
        <!--  -->
        <!--   <div style="width:60%;height:60%;background-color:#F2F4F4"></div>-->
        <!--  -->

        <h1>  </h1>

        <div id="chatBox" #scrollMe>
            <div *ngFor="let chatData of chatDataList">
                <p *ngIf="chatData.messageType == 1"
                   [ngClass]="{'textAssistant' : chatData.userType == 1 , 'textCustomer': chatData.userType == 2}">
                    {{chatData.messageText}}
                </p>
                <div *ngIf="chatData.messageType == 2"
                     [ngClass]="{'imageByAssistant_div' : chatData.userType == 1 , 'imageByCustomer_div': chatData.userType == 2}">
                    <img src="{{chatData.messageText}}" class="imageInChatBox" />
                </div>
                <p [ngStyle]="{ 'text-align': (chatData.userType == 1) ?  'right': 'left' }">{{chatData.displayName}}     {{chatData.timeStamp}}</p>
                <br />
            </div>
        </div>

        <div id="AgentOnLine">
            <div *ngFor="let Assistant of AssistantList">
                <input type="button" value="Transfer" />
                <span style="text-align: left;">
                    {{Assistant.AgentName}}
                </span>
                <span style="text-align: right">
                    &nbsp; [{{Assistant.AgentLanguage}}]
                </span>
                <span style="text-align: right">
                    &nbsp; {{Assistant.AgentActiveStatus | AgentActiveStatus}}
                </span>
                <span style="text-align: right">
                    &nbsp; {{Assistant.AgentDepartment}}
                </span>
                <br />
                <br />
            </div>
        </div>



        <div id="usersOnLine">
            <div *ngFor="let Customer of CustomerList">
                <input *ngIf="Customer.CustomerActiveStatus == 1" type="button" value="GET" />
                <input *ngIf="Customer.CustomerActiveStatus == 2" type="button" value="Finish" />
                <input *ngIf="Customer.CustomerActiveStatus == 2" type="button" value="Switch" />
                <span style="text-align: left;width:100%;">
                    {{Customer.CustomerName}}
                </span>
                <span style="text-align: right;width:100%;">
                    &nbsp;&nbsp;  {{Customer.CustomerActiveStatus | CustomerActiveStatus}}
                    <span *ngIf="Customer.CustomerUnreadMessage > 0">({{Customer.CustomerUnreadMessage}})</span>
                </span>

                <br />
                <br />
            </div>


        </div>

        <br />

        <div id="messageForm">
            <input id="message" type="text" [(ngModel)]="message" placeholder="message here">

            <br />
            <br />

            <input id="send" type="file" accept=".png,.jpg,.mp4,.m4a" (change)="chooseImg($event)" /> &nbsp;&nbsp;
            <input id="send" type="submit" value="Send" (click)="postJsonData()">&nbsp;&nbsp;

            <!--<input id="send" type="submit" value="Send" (click)="postTextToLineCli()">&nbsp;&nbsp;-->


            <!--
            <input id="send" type="button" value="trysendfile" (click)="trysavefile()" />
            <input id="send" type="button" (click)="postTextToLineServ()" value="send serv" />
                -->
        </div>

        <div id="optionForm">
            MAX Conversation &nbsp;&nbsp;

            <input type="number" step="10" min="10" max="300" onkeydown="return false"
                   [(ngModel)]="MAXConversation" value="10" />&nbsp;&nbsp;

            <br />
            <br />
        </div>
        <br />
        <br />

        <div *ngFor="let user of userData ">
            <br />
            <p style="background-color:#eeeeee" (click)="sendToTarget( user._userid ,user._userDisplayName )">
                {{user._userDisplayName}}  :  {{ user._message }}
            </p>
        </div>

    </div>
</div>